@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.frame {
  background: ghostwhite;
  border: 2px solid lightgrey;
  border-radius: 4px;
  padding: 12px 16px;
  display: grid;
  gap: 4px;
}

.title {
  font-family: arial;
  font-size: 16px;
  font-weight: 800;
}

.inputframe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px 24px;
}

.inputLabel {
  font-size: 12px;
  font-weight: 700;
}

.span2 {
  grid-column: 1 / span 2;
}

.fileName {
  display: flex;
  color: blue;
  font-size: 10px;
}
